.profileScreen {
  height: 100vh;
  color: #fff;
}
.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-top: 8%;
  max-width: 800px;
}
.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}
.profileScreen__info {
  display: flex;
}
.profileScreen__info > img {
  height: 100px;
}
.profileScreen__details {
  color: #fff;
  margin-left: 25px;
  flex: 1;
}
.profileScreen__details > h2 {
  background: gray;
  padding: 20px 15px 15px 15px;
  font-size: 15px;
}
.profileScreen__plans {
  margin-top: 20px;
}
.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}
.profileScreen__signout {
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  font-weight: 600;
}
