.signUpScreen {
  max-width: 300px;
  background: rgba(0, 0, 0, 0.85);
  padding: 70px;
  margin: 0 auto;
}
.signUpScreen > form {
  display: grid;
  flex-direction: column;
}
.signUpScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}
.signUpScreen > form > input {
  padding: 5px 15px;
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border: none;
  border-radius: 5px;
}
.signUpScreen__button {
  margin-top: 20px;
}
.signUpScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}
.signUpScreen__gray {
  color: gray;
}
/*  */
.signUpScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
