.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  z-index: 1;

  /* Animation */
  transition: all 0.5s ease-in-out;
}
.nav__black {
  background: #111;
}
.nav__contents {
  display: flex;
  justify-content: space-between;
}
.nav__contents a {
  display: flex;
  height: fit-content;
}
.nav__logo {
  position: fixed;
  top: 20px;
  left: 0;
  width: 80px;
  padding-left: 20px;
  cursor: pointer;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
}
